#hostdiv {
  height: 66vh;
  background-color: rgba(229, 248, 210, .7);
}
#rentdiv{
  margin: 0;
  padding: 0;
  height: 66vh;
  background-color: #22313F;
}
.col-xs-6 {
  margin: 0;
  padding: 0;
}

.rent {
  margin-top: 10px;
}

.lovelo {
  text-align:center;
  font-family:Lovelo;
  font-size:15px;
  font-weight:bold;
  color: #22313F;
  border-bottom: 1px black;
}
#myImage {
    zoom: 2;  //increase if you have very small images

    display: block;
    margin: auto;

    height: auto;
    max-height: 100%;

    width: auto;
    max-width: 100%;
}
