<nav class="navbar navbar-default navbar-static-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <ul class="nav navbar-nav">
      <li>
      <a href="#">Spacin</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/#/user">Account</a></li>
      <li><a href="/#/host">Post a Space</a></li>
      <li><a href="/#/search">Rent a Space</a></li>
    </ul>
  </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="addprof">
                <form name="backPic" style="margin-top:50px;">
                    <div s3-upload bucket="'clarkedbteer'" ng-model="userCtrl.newbackgroundPicture"
                    s3-upload-options="{getOptionsUri: 'http://localhost:3000/space/s3access'}">
                    </div>
                    <div>
                    <button ng-show="userCtrl.newbackgroundPicture" type="button" name="backpicupload" ng-click="userCtrl.backgroundPicture()"> <h5>Make Background Pic</h5> </button>
                    <br/>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="{{userCtrl.user.backgroundPicture}}" style="width:550px;height:500px;"/>
        </div>
    </div>
</div>
