    <!-- Header -->
<section id="header">
  <div>
    <span class="icon major fa-cloud"></span>
    <h1 style="font-family:Lovelo;font-size:35px;">This <strong>Is </strong>Spacin<br />
    </h1>
    <p style="font-family:Lovelo;font-size:30px;"><strong>A way to connect artists to YOUR audience</strong></p>
    <br>
    <br>
    <br>
  </div>
</section>


<!-- One -->
<section id="one" class="main style1">
  <div class="container">
    <div class="row 120%">
      <div class="6u 12u$(small) important(small)">
        <header>
          <h1 style="font-family:Lovelo;font-size:40px;border-bottom:1px solid black;font-weight:bold;">Find Spaces</h1>
        </header>
        <h3 style="font-family:Lovelo;font-size:30px;font-weight:bold;margin-top:30px;">Search and find locations in your area to introduce people to your work. Create well designed material to showcase your ability.</h3>
      </div>
      <div class="6u$ 12u$(medium) important(medium)">
        <span class="image fit"><img src="https://static.pexels.com/photos/4776/man-sunglasses-art-graffiti.jpg" alt="" /></span>
      </div>
    </div>
  </div>
</section>

<!-- Two -->
<section id="two" class="main style2" style="padding: 4em 0 4em 0;">
  <div class="container">
    <div class="row 150%">
      <div class="6u 12u$(medium)">
        <ul class="major-icons">
          <li><span class="icon style4 major fa-cog"></span></li>
          <li><span class="icon style5 major fa-desktop"></span></li>
          <li><span class="icon style6 major fa-calendar"></span></li>
          <li><span class="icon style4 major fa-cog"></span></li>
        </ul>
      </div>
      <div class="6u$ 12u$(medium)">
        <header>
          <h2 style="font-family:Lovelo;font-size:40px;border-bottom:1px solid white;">Post Spaces<br /></h2></header>
        <br>
        <h3 style="font-family:Lovelo;font-size:35px;">Give people the opportunity to showcase their talent and build their base while giving your patrons something sweet to look at.</h3>
      </div>
    </div>
  </div>
</section>

<!-- Three -->
<section id="three" class="main style1 special">
  <div class="container">
    <header class="major">
      <h2 style="font-family:Lovelo;font-weight:bold;">How it works</h2>
    </header>
    <p>How to get started finding cool places to showcase yourself</p>
    <div class="row 150%">
      <div class="4u 12u$(medium)">
        <span class="image fit"><img src="https://static.pexels.com/photos/2784/graffiti-bus.jpg" alt="" /></span>
        <h3 style="font-family:Lovelo;font-weight:bold;">Create an account</h3>
          <p>It gives you the ability to search from thousands of locations to see where you would like to embrace your audience. You get to decide who sees your talent.</p>
        <div ng-show="showFirst">
          <p>It also gives you a platform to put your unused space and create an additional stream of revenue. <a href="/spacin_front/#/signup">Sign Up Here</a></p>
        </div>
          <li class="button" ng-click="showFirst = ! showFirst">More</li>
      </div>
      <div class="4u 12u$(medium)">
        <span class="image fit"><img src="https://static.pexels.com/photos/4439/city-art-graffiti-wall.jpg" alt="" /></span>
        <h3 style="font-family:Lovelo;font-weight:bold;">Search for Space</h3>
          <p>Use the customized search to find exactly who you would like to reach and what you would like to say. Its as easy as point, click, and it adds it to your spaces.</p>
        <div ng-show="showSecond">
          <p>This platform allows you to search by your zip code so you can see all the available marketing opportunities in your local area.</p>
        </div>
          <li class="button" ng-click="showSecond = ! showSecond">More</li>
      </div>
      <div class="4u$ 12u$(medium)">
        <span class="image fit"><img src="https://static.pexels.com/photos/5391/cars-man-person-art.jpg" alt="" /></span>
        <h3 style="font-family:Lovelo;font-weight:bold;">Message Space Owner</h3>
          <p>Send a direct message to the owner of the space describing how you would like to transform the space and why you are trying to reach their patrons.</p>
        <div ng-show="showThird">
          <p>You have an inbox to keep track of all your messages which allows you to negotiate for your own marketing campaign!</p>
        </div>
          <li class="button" ng-click="showThird = ! showThird">More</li>
      </div>
    </div>
  </div>
</section>

<!-- Four -->
<section id="four" class="main style2 special">
  <div class="container">
    <form name="loginForm">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <input type="text" name="email" ng-model="loginCtrl.login.username" placeholder="USERNAME" style="font-family:Lovelo;"/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <input type="password" name="password" ng-model="loginCtrl.login.password" placeholder="PASSWORD" style="font-family:Lovelo;"/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <br>
          <button type='submit' ng-click="loginCtrl.postLogin()" >Login</button>
        </div>
      </div>
      <br>
      <a href="/spacin_front/#/signup" >Want to find out More? Sign Up Here</a>
    </form>
  </div>
</section>

<!-- Footer -->
<section id="footer">
  <ul class="copyright">
    <div style="color:white;font-size:30px;font-weight:bold;font-family:Lovelo;">&copy; 2015 Luke Payyapilli</div>
  </ul>
</section>
