    <!-- Header -->
<section id="header">
  <div class="inner">
    <span class="icon major fa-cloud"></span>
    <h1>This <strong>Is </strong>Spacin<br />
    </h1>
    <p>A way to connect creatives to their audience</p>
    <ul class="actions">
      <li><a ng-href="\#three" class="button scrolly">Discover</a></li>
    </ul>
  </div>
</section>

<!-- One -->
<section id="one" class="main style1">
  <div class="container">
    <div class="row 150%">
      <div class="6u 12u$(medium)">
        <header class="major">
          <h2>Find Spaces</h2>
        </header>
        <p>Search and find locations in your area to introduce people to your work and create inventive and well designed material to showcase your ability. It's an opportunity for the owner of the space to have something cool that you design on their wall and for you to gain an audience to people who see it. </p>
      </div>
      <div class="6u$ 12u$(medium) important(medium)">
        <span class="image fit"><img src="https://static.pexels.com/photos/4776/man-sunglasses-art-graffiti.jpg" alt="" /></span>
      </div>
    </div>
  </div>
</section>

<!-- Two -->
<section id="two" class="main style2">
  <div class="container">
    <div class="row 150%">
      <div class="6u 12u$(medium)">
        <ul class="major-icons">
          <li><span class="icon style4 major fa-cog"></span></li>
          <li><span class="icon style5 major fa-desktop"></span></li>
          <li><span class="icon style6 major fa-calendar"></span></li>
        </ul>
      </div>
      <div class="6u$ 12u$(medium)">
        <header class="major">
          <h2>Post Spaces<br />
          To let people increase their audience and for you to make use of unused space.</h2>
        </header>
        <p>Give People the opportunity to showcase their talent and build their base while giving your patrons something sweet to look at.</p>
      </div>
    </div>
  </div>
</section>

<!-- Three -->
<section id="three" class="main style1 special">
  <div class="container">
    <header class="major">
      <h2>How it works</h2>
    </header>
    <p>How to get started finding cool places to showcase yourself</p>
    <div class="row 150%">
      <div class="4u 12u$(medium)">
        <span class="image fit"><img src="https://static.pexels.com/photos/2784/graffiti-bus.jpg" alt="" /></span>
        <h3>Create an account</h3>
        <p>It gives you the ability search from thousands of locations to see where you would like to embrace your audience. You get to decide who sees your talent.</p>
        <ul class="actions">
          <li><a href="#" class="button">More</a></li>
        </ul>
      </div>
      <div class="4u 12u$(medium)">
        <span class="image fit"><img src="https://static.pexels.com/photos/4439/city-art-graffiti-wall.jpg" alt="" /></span>
        <h3>Search for Space</h3>
        <p>Use the customized search to find exactly who you would like to reach and what you would like to say. Its as easy as point, click, and it adds it to your spaces.</p>
        <ul class="actions">
          <li><a href="#" class="button">More</a></li>
        </ul>
      </div>
      <div class="4u$ 12u$(medium)">
        <span class="image fit"><img src="https://static.pexels.com/photos/5391/cars-man-person-art.jpg" alt="" /></span>
        <h3>Message Space Owner</h3>
        <p>Send a direct message to the owner of the space describing how you would like to transform the space and why you are trying to reach their patrons.</p>
        <ul class="actions">
          <li><a href="#" class="button">More</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Four -->
<section id="four" class="main style2 special">
  <div class="container">
    <div class="col-xs-12">
      <div>
        <form name="loginForm">
          <input type="text" name="email" ng-model="loginCtrl.login.username" placeholder="username"/>
          <br>
          <input type="password" name="password" ng-model="loginCtrl.login.password" placeholder="password"/>
          <br>
          <button type='submit' ng-click="loginCtrl.postLogin()">Login</button>
        </form>
    <a href="/#/signup">Want to find out More? Sign Up Here</a>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<section id="footer">
  <ul class="icons">
    <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
    <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
  </ul>
  <ul class="copyright">
    <li>&copy; 2015 Luke Payyapilli</li>
  </ul>
</section>
