
<nav class="navbar navbar-default navbar-static-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <ul class="nav navbar-nav">
      <li>
      <a href="#">Spacin</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/spacin_front/#/user">Account</a></li>
      <li><a href="/spacin_front/#/host">Post a Space</a></li>
      <li><a href="/spacin_front/#/search">Rent a Space</a></li>
      <li><a href="/spacin_front/#/inbox">My Messages</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search by Zip" ng-model="spaceCtrl.searchQuery">
        <span class="input-group-btn">
          <button class="btn btn-small" style="margin-left:10px;" ng-click="spaceCtrl.search()">Go!</button>
        </span>
      </div><!-- /input-group -->
      <div ng-repeat="space in spaceCtrl.spaces">
      <br>
      {{space.name}}
        <div ng-repeat="picture in space.pictures">
          <img ng-src="{{picture.src}}" style="height:200px;width:200px;"/>
          {{space.zip}}
          <br>
          <p> Owner: {{space._creator}} </p>
        <div class="messageinfo">
          <form name="newMessage" style="margin-top:50px;">
                <input name="messageTitle" ng-model="messageCtrl.newMessage.title" placeholder="title"/>
              <br>
              <br>
                <input name="messageBody" ng-model="messageCtrl.newMessage.body" placeholder="How much would you like to rent this space for?"/>
              <br>
              <br>
              <div>
                <button type="button" name="messageSave" ng-click="messageCtrl.hostMessage()"> <h5>Send</h5> </button>
              <br/>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

