<nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0;z-index: 1000;background-color: #EEEEEE;">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <ul class="nav navbar-nav">
      <li style="text-align:center;font-family:Lovelo;font-size:25px;font-weight:bold;">
        <a href="#/" >Spacin</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/spacin_front/#/user">Account</a></li>
      <li><a href="/spacin_front/#/host">Post a Space</a></li>
      <li><a href="/spacin_front/#/search">Rent a Space</a></li>
      <li><a href="/spacin_front/#/inbox">My Messages</a></li>
    </ul>
  </div>
</nav>
<div class="container" style="margin:0;">
  <div class="row">
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="padding:0;border:0, 3px, 0, 0, solid #dadbdf;">
      <div class="rentdiv" ng-controller="userController as userCtrl" id="rentdiv" style="height:110vh; margin:0;">
      <br>
      <h1 class="rent" style="text-align:center;font-family:Lovelo;font-size:30px;font-weight:bold;color:#dadbdf;margin-bottom:30px;"> {{userCtrl.user.username}} </h1>
        <div>
        <img ng-src="{{userCtrl.user.profilePicture}}" style="width: 250px; height: 250px;display:block;margin:auto;margin-bottom:20px;border:3px solid #dadbdf;"/>
        </div>
        <div style="background-color: rgba(230, 230, 230, .8);margin:30px;">
          <ul style="padding:20px;">
            <a class="lovelo" style="margin-bottom:10px;" href="/spacin_front/#/account">Account Settings</a></li>
            <br>
            <a class="lovelo" style="margin-bottom:10px;" href="/spacin_front/#/background">Change Background</a></li>
            <br>
            <a class="lovelo" style="margin-bottom:10px;" href="/spacin_front/#/space">Manage Spaces</a></li>
            <br>
            <a class="lovelo" style="margin-bottom:10px;" href="/spacin_front/#/">Sign Out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-0 col-sm-0 col-xs-0" style="padding:0;margin:0;">
    <img ng-src="{{userCtrl.user.backgroundPicture}}" style="height:110vh;position:absolute; padding:0; margin: 0;"/>
    </div>
  </div>
</div>

